.orderRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  background-color: #f5f5f5;
  transition: background-color 0.3s ease;
  border-bottom: 1px solid rgb(122, 44, 11);

  &:hover {
    background-color: #e0e0e0;
  }

  .columnItem {
    display: flex;
    width: 80%;
    justify-content: space-between;
  }

  .iconItem {
    display: flex;
    align-items: center;
    margin-right: 20px;

    .icon {
      color: #964b00;
      font-size: 20px;
    }

    span {
      color: #333;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: flex-end;

    button {
      margin-left: 10px;
    }
  }
}

.columnHeaderContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f0f0f0;
  font-weight: bold;
  border-radius: 8px;

  .columnHeader {
    flex: 1;
    text-align: center;
  }
}
